a {
    text-decoration: none;
    color: white;
}

#introduction-experiments-section {
    position: relative;
    z-index: -4;
    padding-top: 300px;
    padding-bottom: 300px;
    padding-left: 20vw;
}

.text-wrapper {
    max-width: 600px;
    margin: 200px 0;
}

.progress-section-template {
    padding-top: 100px;
    padding-left: 20vw;
    min-height: 70vh;
}

.styled-heading-left-side {
    float: left;
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
    color: #ffffff;
    line-height: 60px;
    font-size: 300%;
    width: 30%;
}

.styled-heading-right-side {
    line-height: 30px;
    width: 100%;
}

.styled-heading-right-side,
.styled-heading-left-side {
    padding-bottom: 30px;
}

.section-wrapper-2-columns {
    display: flex;
    align-items: flex-start;
    margin: 100px 0;
    width: 100%;
}

.wrapper-column1 {
    width: 50%;
    padding: 0 40px 0 0;
    max-width: 600px;
}

.wrapper-column1>p {
    max-width: 500px;
}

.wrapper-column2 {
    width: 40%;
    margin-left: 10%;
}

.wrapper-column1 h1,
h2,
.wrapper-column2 h1,
h2 {
    margin: 0 0 40px 0;
}

.wrapper-column1 p,
.wrapper-column2 p {
    margin: 40px 0;
    max-width: 600px;
}

img {
    border-radius: 10px;
}

#roadmap-img {
    margin: -150px 100px 0 0;
}

#tokamak-reactor-img {
    margin-top: 100px;
}

#cooperation-agreements-text {
    margin-top: 200px;
}

.wrapper-column2 table {
    margin-bottom: 50px;
}

.wrapper-column2 table td {
    text-align: left;
}

.wrapper-column2 table #right {
    text-align: left;
    padding-left: 50px;
}

#table-wrapper {
    margin-top: 100px;
}

#jet-iframe {
    width: 80%;
    height: 800px;
    border: #ffffff;
    margin-bottom: 50px;
}

#jet-details-3-columns {
    display: flex;
    align-items: stretch;
    width: 80%;
}

.jet-details-column {
    width: 30%;
    padding: 0 50px;
}

#wendelstein-section {
    margin-top: 400px;
}

.wendelstein-heading-container {
    width: 60%;
    display: flex;
    align-items: flex-start;
}

.wendelstein-heading-container h1 {
    line-height: 50px;
    min-width: 300px;
}

.wendelstein-heading-container p {
    line-height: 25px;
}

#stellerator-immage {
    width: 100%;
    height: 500px;

    border-radius: 10px;
    background-color: white;
}

#wendelstein-7x-iframe-video {
    width: 100%;
    height: 400px;
}