a {
    text-decoration: none;
    color: white;
}

#introduction-experiments-section {
    position: relative;
    z-index: -4;
    padding-top: 300px;
    padding-bottom: 300px;
    padding-left: 20vw;
}

.text-wrapper {
    max-width: 600px;
    margin: 200px 0;
}

.progress-section-template {
    position: relative;
    padding-top: 100px;
    padding-left: 20vw;
    min-height: 70vh;

}

.styled-heading-left-side {
    float: left;
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
    color: #ffffff;
    line-height: 60px;
    font-size: 300%;
    width: 30%;
}

.styled-heading-right-side {
    line-height: 30px;
    width: 100%;
}

.styled-heading-right-side,
.styled-heading-left-side {
    padding-bottom: 30px;
}

.wrapper-column1 {
    max-width: 600px;
    display: inline-block;
    top: 0;
}

.wrapper-column2 {
    position: relative;
    max-width: 900px;
    margin-left: 10vw;
    display: inline-block;
}

.wrapper-column1 h1,
h2,
.wrapper-column2 h1,
h2 {
    margin: 0 0 40px 0;
}

.wrapper-column1 p,
.wrapper-column2 p {
    margin: 40px 0;
    max-width: 600px;
}

img {
    border-radius: 10px;
}

#roadmap-img {
    position: absolute;
    bottom: -130px;
    left: -30%;
}

#tokamak-reactor-img {
    position: absolute;
    bottom: 100px;
}

#cooperation-agreements-text {
    position: absolute;
    top: 30%;
    right: 20vw;
}

.wrapper-column2 table {
    margin-bottom: 50px;
}

.wrapper-column2 table td {
    text-align: left;
}

.wrapper-column2 table #right {
    text-align: left;
    padding-left: 50px;
}

#table-wrapper {
    position: absolute;
    margin-top: 100px;
}

#jet-iframe {
    width: 80%;
    height: 800px;
    border: #ffffff;
    margin-bottom: 50px;
}

#jet-details-3-columns {
    display: flex;
    align-items: stretch;
    width: 80%;
    height: 600px;
}

.jet-details-column {
    width: 30%;
    padding: 0;
}