@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    /* overflow-x: hidden; */
}

::-webkit-scrollbar {
    display: none;
}

body {
    position: relative;
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 19px;
    color: #ffffff;
    background-color: #69807E;
}

h1,
h2,
h3,
h4 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffffff
}

li>a {
    text-decoration: none;
    color: inherit;
}


#main-nav {
    position: fixed;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 5%;
    background-color: #202B31;
    width: 100%;
    z-index: 10;
}

#main-nav #menu,
#main-nav #logo {
    text-decoration: none;
    color: #ffff;
}


#main-nav #logo {
    width: 30%;
    margin: 0 30px 0 60px;
    font-size: 280%;
}

#main-nav #menu {
    padding-left: 4em;
    display: flex;
    align-items: center;
    left: 25%;
    width: 50%;
    height: 100%;

}

#main-nav #menu li {
    display: inline-block;
    list-style-type: none;
    margin: 0px 30px 0px 30px;
    padding: 0px 20px 0px 20px;
    color: #fff;
}

#main-nav #menu li:hover {
    scale: 1.2;
}

#current-link {
    text-decoration: underline
}


.home-page-section-template {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    min-height: 70%;
    width: 80%;
    padding-left: 20vw;
    margin: 2% 0;
}

#introductory-section {
    background: rgb(32, 43, 49);
    background: linear-gradient(180deg, rgba(32, 43, 49, 1) 15%, rgba(32, 43, 49, 0.7231267507002801) 46%, rgba(32, 43, 49, 0) 100%);
    position: relative;
    z-index: -1;
    padding-top: 30%;
    width: 100%;
    height: 90vh;
    overflow-x: hidden;
}

.lottie-intro-section-animation {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.lottie-intro-section-animation #lottie-background {
    z-index: -4;
}


#gradient-intro-section-lottie {
    background: rgb(244, 245, 159);
    background: radial-gradient(circle, rgba(244, 245, 159, 1) 0%, rgba(244, 245, 159, 0.35057773109243695) 31%, rgba(244, 245, 159, 0) 57%, rgba(244, 245, 159, 0) 100%, rgba(244, 245, 159, 0) 100%);
    position: absolute;
    z-index: -1;
    left: 40%;
    width: 100%;
    height: 100%;
    bottom: 5%;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#introductory-section .text-heading {
    position: relative;
    max-width: 30em;
    text-align: left;
    margin-left: 20vw;
    margin-bottom: 10vh;
}

#introductory-section .text-heading>p {
    max-width: 25em;
}


.home-page-section-template .text-heading {
    display: inline-block;
    max-width: 500px;
    margin: 10% 0;
    text-align: left;
}



#iframe-youtube-homepage {
    width: 70%;
    height: 600px;
}

.section-wrapper-2-columns {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 100px 0;
    width: 100%;
}

.wrapper-column1 {
    width: 50%;
    padding: 0 40px 0 0;
    max-width: 600px;
}

.wrapper-column2 {
    width: 40%;
    margin-left: 10%;
}

.wrapper-column1>p {
    max-width: 30em;
}

.wrapper-column1 h1,
h2,
.wrapper-column2 h1,
h2 {
    margin: 0 0 40px 0;
}

.wrapper-column1 p,
.wrapper-column2 p {
    margin: 40px 0;
    max-width: 30em;
}

footer {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #202B31;
    z-index: 10;
}


@media screen and (max-width:1600px) {

    .wrapper-column1 {
        width: 100%;
        margin: 0;
    }

    .wrapper-column2 {
        width: 100%;
        margin: 0;
    }

    .lottie-intro-section-animation {
        scale: 2.2;
    }
}

@media screen and (max-width:1400px) {}


@media screen and (max-width:767px) {

    h1,
    h2,
    h3,
    h4 {
        letter-spacing: 2px;
        font-size: 20px;
    }

    p {
        font-size: 15px;
        max-width: 20em;
    }



    #gradient-intro-section-lottie {
        width: 150%;
        left: 0;
        padding-left: 70%;
    }

    .lottie-intro-section-animation {
        scale: 4.0;
        right: 20%;
    }
}


/* @media screen and (max-width:767px) {

    h1,
    h2,
    h3,
    h4 {
        letter-spacing: 2px;
        font-size: 15px;
    }

    p {
        font-size: 15px;
        max-width: 20em;
    }

    #main-nav {
        height: 5%;
    }

    #main-nav #logo {
        width: 60%;
        font-size: 150%;
        margin-left: 10px;
    }

    #gradient-intro-section-lottie {
        width: 150%;
        left: 0;
        padding-left: 70%;
    }

    .lottie-intro-section-animation {
        scale: 4.0;
        right: 20%;
    }
} */

@media (orientation: landscape) {
    .lottie-intro-section-animation {
        scale: 1;
        right: 0;
    }
}