footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202B31;
    z-index: 10;
}

footer #icons-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 100%;
}

.footer-lottie-icon {
    width: 70px;
}