#what-is-fusion-section {
    position: relative;
    z-index: -4;
    padding-top: 300px;
    padding-left: 20vw;
}

.text-wrapper {
    max-width: 600px;
    margin: 200px 0;
}

.text-wrapper h1 {
    margin: 0 0 40px 0;
}

#statement-about-the-sun {
    position: absolute;
    max-width: 500px;
    padding-top: 80px;
    right: 10vw;
    float: right;
}

#history-of-fusion-section {
    padding-top: 200px;
    padding-left: 20vw;
}