@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    /* overflow-x: hidden; */
}

::-webkit-scrollbar {
    display: none;
}

body {
    position: relative;
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 19px;
    color: #ffffff;
    background-color: #69807E;
    z-index: -2;
}

h1,
h2,
h3,
h4 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffffff
}

li>a {
    text-decoration: none;
    color: inherit;
}

#introductory-section {
    background: rgb(32, 43, 49);
    background: linear-gradient(180deg, rgba(32, 43, 49, 1) 15%, rgba(32, 43, 49, 0.7231267507002801) 46%, rgba(32, 43, 49, 0) 100%);
    position: relative;
    z-index: -1;
    padding-top: 20%;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.lottie-intro-section-animation {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#lottie-foreground-purple-dots {
    position: absolute;
    width: 25%;
    left: 26%;
    z-index: -1;
    opacity: 30%;
}

#lottie-foreground-red-dots {
    position: absolute;
    left: 50%;
    width: 15%;
    opacity: 50%;
    z-index: -1;
    transform: rotate(90deg);
}

#lottie-circular-floating-lines {
    position: absolute;
    right: 0;
    width: 50%;
    opacity: 50%;
    z-index: -1;
}

#lottie-lines-floating {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 100%;
    z-index: -1;
}

.lottie-intro-section-animation #lottie-background {
    z-index: -4;
}


#gradient-intro-section-lottie {
    background: rgb(244, 245, 159);
    background: radial-gradient(circle, rgba(244, 245, 159, 1) 0%, rgba(244, 245, 159, 0.35057773109243695) 31%, rgba(244, 245, 159, 0) 57%, rgba(244, 245, 159, 0) 100%, rgba(244, 245, 159, 0) 100%);
    position: absolute;
    z-index: -1;
    left: 40%;
    width: 100%;
    height: 100%;
    bottom: 5%;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#introductory-section .text-heading {
    position: relative;
    max-width: 30em;
    text-align: left;
    margin-left: 15%;
    margin-bottom: 10vh;
}

#introductory-section .text-heading>p {
    max-width: 25em;
}



.home-page-section-template {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 70%;
    width: 80%;
    margin: 10%;
    z-index: -1;
}

.home-page-section-template .text-heading {
    display: inline-block;
    max-width: 500px;
    text-align: left;
}

.home-page-section-template .animation-div {
    top: 100px;
    right: 10%;
    width: 40%;
    height: 100%;
    margin-top: 10%;

}

.home-lottie-player-animation-template {
    width: 100%;
    z-index: -3;
}

#iframe-youtube-batteryes-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 0;
}

#iframe-youtube-homepage {
    width: 80%;
    height: 700px;
    margin-top: 25%;
    border-radius: 5px;
}




@media screen and (max-width:1600px) {

    .wrapper-column1 {
        width: 100%;
        margin: 0;
    }

    .wrapper-column2 {
        width: 100%;
        margin: 0;
    }

    #introductory-section {
        padding-top: 30%;
    }

    .lottie-intro-section-animation {
        scale: 2.2;
    }

    #home-page-section-template {
        justify-content: space-between;
    }

    .home-page-section-template .animation-div {
        right: 0;
    }
}

@media screen and (max-width:1200px) {
    body {
        font-size: 15px;
    }

    p {
        width: 20em;
    }

    .wrapper-column1 h1,
    h2,
    .wrapper-column2 h1,
    h2 {
        margin: 0 0 15px 0;
    }

    .home-page-section-template .animation-div {
        width: 50%;
        top: 50px;
    }


    #iframe-youtube-homepage {
        margin-top: 20%;
        height: 400px;
    }
}

@media screen and (max-width:800px) {

    h1,
    h2,
    h3,
    h4 {
        width: 20em;
        letter-spacing: 2px;
        font-size: 20px;
    }

    p {
        font-size: 15px;
        width: 25em;
    }

    #introductory-section {
        padding-top: 50%;
        height: 70vh;
    }

    #introductory-section .text-heading {
        margin-bottom: 6%;
        display: flex;
        flex-wrap: wrap;
    }

    #introductory-section .text-heading>* {
        width: 100%;
        font-size: 100%;
        top: -20%;
        padding-right: 10%;
    }

    #gradient-intro-section-lottie {
        width: 130%;
        left: 0;
        padding-left: 70%;
    }

    .lottie-intro-section-animation {
        scale: 2.3;
        right: 10%;
        top: 10%;
    }



    .home-page-section-template {
        padding-left: 10%;
        width: 80%;
        margin: 20% 0;
    }

    .home-page-section-template .animation-div {
        left: 30%;
        top: 75%;
        width: 60%;
    }

    .home-page-section-template .text-heading {
        width: 80%;
    }

    #iframe-youtube-batteryes-section {
        height: 40vh;
    }

    #iframe-youtube-homepage {
        height: 400px;
        width: 80%;
        border-radius: 5px;
    }


}

@media screen and (max-width:600px) {

    h1,
    h2,
    h3,
    h4 {
        width: 100%;
        letter-spacing: 2px;
        font-size: 20px;
    }

    p {
        font-size: 15px;
        width: 100%;
    }

    #gradient-intro-section-lottie {
        width: 130%;
        left: 0;
        padding-left: 70%;
    }

    .lottie-intro-section-animation {
        scale: 3.0;
        right: 6%;
        top: 10%;
    }


    #iframe-youtube-homepage {
        height: 50%;
        width: 80%;
    }

    #introductory-section .text-heading {
        width: 80%;
    }
}

@media (orientation: landscape) {
    .lottie-intro-section-animation {
        scale: 1;
        right: 0;
    }
}

@media screen and (max-height:500px) and (orientation: landscape) {
    #introductory-section {
        height: 300%;
        padding: 25% 0;
    }

    #gradient-intro-section-lottie {
        min-height: 170%;
        bottom: 0;
    }

    .lottie-intro-section-animation {
        scale: 1;
        right: 0;
        top: -15%;
    }

    .home-page-section-template .animation-div {
        display: inline-block;
        width: 50%;
    }

    .home-page-section-template {
        display: flex;
        flex-wrap: wrap;
    }

    #introductory-section .text-heading {
        margin-bottom: 10%;
        width: 15em;
    }


    #iframe-youtube-batteryes-section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 0 10% 0;
    }

    #iframe-youtube-homepage {
        margin-top: 60%;
        height: 150px;
        width: 50%;
    }
}